.gameSquare {
    padding-left: 62px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 62px;
    margin-left: 10px;
    background-color : lightgrey;
    border-color: black;
    text-align: center;
    width: 100%;
    height: 100%;
}
.row {
    margin-bottom: 50px;
    margin-top: 110px;
}

body {
    background-color: grey;
}

.clicked {
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 30px;
    margin-top: -160px;
    margin-bottom: -160px;
    margin-left: 10px;
    background-color : lightgrey;
    border-color: black;
    width: 100%;
    height: 100%;
}